<h1>Products</h1>

<ul>
  <!-- refactor to use partial -->
  <% @products.each do |p| %>
  <!-- refactor to use helper? -->
  <li><a href="<%= products_path(p) %>"><%= p.title %></a> $<%= format_price(p.price) %> [<%= p.sku %>]</li>
  <% end %>
</ul>

<a href="/products/new">New Product</a>
