<h1>Products</h1>

<div id="products"></div>

<form id="newProduct">
  <input name="title" placeholder="title">
  <input name="sku" placeholder="sku">
  <input name="price" placeholder="price">
  <input type="submit" name="Submit">
</form>

<script src="/javascript/spa.js"></script>
